.home-hero {
  display: flex;
  align-items: center;

  .arrow-wrap {
    width: 50px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    @include responsive(min-width, 1441px) {
      width: 60px;
      bottom: 75px;
    }
  }
}

.first {
  //background-color: rgba(255, 255, 255, .95);
  background-color: hsla(0, 0, 100%, .95);
  color: $black;
  height: 100%;

  .wrap {
    max-width: 850px;
    margin: 0 auto;
    padding-top: 50px;

    @include responsive(min-width, 600px) {
      padding-top: 0;
    }
  }

  @include responsive(min-width, 600px) {
    height: 600px;
    display: flex;
    align-items: center;
  }

  .blockquote-wrap {
    max-width: 450px;
    padding-bottom: 50px;

    @include responsive(min-width, 600px) {
      float: right;
    }
  }
}

.second {
  background-color: rgba(0, 0, 0, .95);
  color: $white;

  .wrap {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 50px;

    @include responsive(min-width, 600px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  blockquote {
    border-left: 10px solid $white;
  }

  @include responsive(min-width, 600px) {
    height: 600px;
    display: flex;
    align-items: center;
  }
}

.third {
  background-color: rgba(255, 255, 255, .95);
  text-align: center;
  padding: 50px 0 50px 0;

  .logo-wrap-one {

    p {
      margin-bottom: 1.5rem;
    }
  }

  .logo-wrap-two {
    p {

    }
  }
  @include responsive(min-width, 992px) {
    height: 650px;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.fourth {
  display: none;
  // height: 225px;

  // @include responsive(min-width, 500px) {
  //   height: 1000px;
  // }

  @include responsive(min-width, 950px) {
    display: block;
    height: 1000px;
  }
}

.break {
  display: none;
  background-color: transparent;

  @include responsive(min-width, 600px) {
    height: 170px;
    display: block;
  }
}

.mobile-social {
  display: none;

  @include responsive(max-width, 992px) {
    display: block;
  }
}

.desktop-social {

  @include responsive(max-width, 992px) {
    display: none;
  }
}

// Wufoo Contact form wrappper
#motion {
  width: 75%;
}

.modal-lg {
  max-width: 970px;

  @include responsive(max-width, 970px) {
    max-width: 100%;
  }
}

.modal-body {
  width: 774px;
  margin: 0 auto;

  @include responsive(max-width, 774px) {
    width: 100%;
  }
}
