.home-hero {
  display: flex;
  align-items: center;

  .arrow-down {
    width: 50px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
  }
}

.first {
  background-color: rgba(255, 255, 255, .8);
  color: $black;
  height: 100%;

  .wrap {
    max-width: 850px;
    margin: 0 auto;
  }

  @include responsive(min-width, 600px) {
    height: 600px;
    display: flex;
    align-items: center;
  }

  .blockquote-wrap {
    max-width: 450px;
    float: right;
  }
}

.second {
  background-color: rgba(0, 0, 0, .8);
  color: $white;

  .wrap {
    max-width: 900px;
    margin: 0 auto;
  }

  blockquote {
    border-left: 10px solid $white;
  }

  @include responsive(min-width, 600px) {
    height: 600px;
    display: flex;
    align-items: center;
  }
}

.third {
  background-color: rgba(255, 255, 255, .8);

  @include responsive(min-width, 992px) {
    height: 600px;
    display: flex;
    align-items: center;
  }
}

.fourth {
  height: 1000px;
}

.break {
  height: 170px;
  background-color: transparent;
}
