.home-hero {
  display: flex;
  align-items: center;

  .arrow-wrap {
    width: 50px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    @include responsive(min-width, 1441px) {
      width: 60px;
      bottom: 75px;
    }
  }
}

.first {
  background-color: rgba(255, 255, 255, .95);
  color: $black;
  height: 100%;

  .wrap {
    max-width: 850px;
    margin: 0 auto;
  }

  @include responsive(min-width, 600px) {
    height: 600px;
    display: flex;
    align-items: center;
  }

  .blockquote-wrap {
    max-width: 450px;
    float: right;
  }
}

.second {
  background-color: rgba(0, 0, 0, .95);
  color: $white;

  .wrap {
    max-width: 900px;
    margin: 0 auto;
  }

  blockquote {
    border-left: 10px solid $white;
  }

  @include responsive(min-width, 600px) {
    height: 600px;
    display: flex;
    align-items: center;
  }
}

.third {
  background-color: rgba(255, 255, 255, .95);
  text-align: center;
  padding: 50px 0 50px 0;

  .logo-wrap-one {

    p {
      margin-bottom: 1.5rem;
    }
  }

  .logo-wrap-two {
    p {

    }
  }
  @include responsive(min-width, 992px) {
    height: 650px;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.fourth {
  height: 1000px;
}

.break {
  height: 170px;
  background-color: transparent;
}

.mobile-social {
  display: none;

  @include responsive(max-width, 992px) {
    display: block;
  }
}

.desktop-social {

  @include responsive(max-width, 992px) {
    display: none;
  }
}
