footer {
  background-color: $black;
  color: $white;
  height: 100%;
  padding: 35px 0 35px 0;

  @include responsive(min-width, 992px) {
    height: 100px;
    display: flex;
    align-items: center;
  }

  p {
  	font-size: 1rem;
  	margin-bottom: 0;
    text-align: center;

    @include responsive(min-width, 992px) {
      text-align: right;
    }
  }
}
