footer {
  background-color: $black;
  color: $white;
  height: 100%;

  @include responsive(min-width, 600px) {
    height: 100px;
    display: flex;
    align-items: center;
  }

  p {
  	font-size: 1rem;
  	margin-bottom: 0;
  }
}
