// Social Motion PR
.social-motion {
  margin: 0;
  padding: 0;

  li {
    list-style: none outside none;
    display: inline-block;
    text-align: center;
    padding-right: .8em;
  }

  .fa {
    width: 50px;
    height: 50px;
    color: $white;
    background-color: $motion-orange;
    // background-color: transparent;
    padding-top: 12px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border: 2px solid $motion-orange;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      background-color: $white;
      color: $motion-orange;
    }
  }

}

// Social MSI
.social-msi {
  margin: 0;
  padding: 0;

  li {
    list-style: none outside none;
    display: inline-block;
    text-align: center;
    padding-right: .8em;
  }

  .fa {
    width: 50px;
    height: 50px;
    color: $white;
    background-color: $msi-red;
    padding-top: 12px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border: 2px solid $msi-red;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      background-color: $white;
      color: $msi-red;
    }
  }

}

.fa-lg {
  font-size: 2em !important;
  //line-height: 1em !important;
}
