body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'DIN Next W01 Light', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
