body {
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'DIN Next W01 Light', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $black;
}
